/* Page */
.container {
  background:#fff url(images/page-container-bg.png) repeat-x;
}
#main-content {
  padding:0 8em;
}
section#block-views-featured-content-block {
float:right;
width:600px;
}
.home h1#page-title {
display:none;
}
/* Header */
#page > header {
background:#4B0173 url(images/banner.png) top right no-repeat;
position:relative;
}
#logo {
  margin: 0 10px;
}
#page > header > hgroup {
  margin: 0 10px;
}
#site-name {}
#site-name a, #site-name a:visited, #site-name a:hover {
  color:#e3c041;
  text-transform:uppercase;
  text-decoration:none;
  font-weight:600;
  font-size:1em;
  margin-left:20px;
  line-height:1em;
  }

/* Page title */
h1#page-title {
  font-weight:500;
}

/* Home page */
div.left {
  float:left;
}
div.right {
  float:right;
}
div.home-main {
  width:49%;
}
.home-main p {
  font-size:1.6em;
}
ul.facets {
  list-style-type:none;
  color:#fff;
  line-height:125%;
}
ul.facets li {
  height:160px;
  width:280px;
  background:transparent url(images/facet-bg.png) center center no-repeat;
  margin:.9em 0;
  font-size:.8em;
}
ul.facets li h2 {
  text-shadow:0 0 2px #714DA2;
  padding:1em 0 0 1em;
  font-size:1.4em;
}
ul.facets li p {
  padding:1em 0 0 1em;
}
ul.facets li a, ul.facets li a:visited {
  color:#DDC146;
  font-weight:600;
  text-decoration:none;
  padding:1em 0 0 1em;
  font-size:1.2em;
}
.featured-content {
  padding:.6em;
  background-color:#DDC146;
  margin-bottom:2em;
}
.featured-content ul {
  list-style-type: none;
  margin:0;
  padding:.3em;
  background-color:#EBE1B9;
}
.featured-content a, .featured-content a:visited {
  text-decoration:none;
  color:#000;
}
.course-lists ul {
  list-style:square
}
.course-lists ul li a {
  display:block;
}
.front h1#page-title {
  display:none;
}

/* Regions */
.region-leaderboard {}
.region-header {}
.region-secondary-content {}
.region-highlighted {}
.region-content-aside {}
.region-tertiary-content {}
.region-footer {}

/* Sidebars */
.sidebar {}
.region-sidebar-first {}
.region-sidebar-second {}

/* Footer - the main page footer only */
#page > footer {
  background:#e2bf41 url(images/footer-bg-ornament.png);
}

/* Feed icons */
#feed-icons {}
#feed-icons .feed-icon {}
#feed-icons .feed-icon img {}
#feed-icons a.feed-icon {}

/* Search box */
#block-search-form {
  position: absolute;
  right:1%;
  top:40%;
}

/* Search results list. */
.search-results {}
.search-results .search-result {}
.search-results .title {}
.search-results .search-snippet-info {}
.search-results p {}
.search-results .search-snippet {}
.search-results .search-info {}

span.search-info-type {}
span.search-info-user {}
span.search-info-date {}
span.search-info-comment {}
span.search-info-upload  {}

/* Aggregator */
.feed-item {}
.feed-item header {}
.feed-item-title {}
.feed-item-meta {}
.feed-item .content {}
.feed-item footer {}
.feed-source {}
.feed-description {}

/* Maintenance page */
.maintenance-page #skip-link {
  position: absolute;
  top: -99em;
}
.maintenance-page footer {
  margin: 10px 0 0;
}
.maintenance-page footer a {
  text-decoration: none;
  color: #ccc;
}

/* Prevent overflowing content */
header[role=banner],
.content-inner,
.nav,
.region-sidebar-first,
.region-sidebar-second,
.region-secondary-content,
.region-tertiary-content,
.region-footer {
  overflow: visible;
  word-wrap: break-word;
}

